<div>
   <p align="center">
             {% if page.copyright=='mrjason' %}
             <img src="/assets/images/mrjason.jpg" >
             <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
                <strong>（转载本站文章请注明作者和出处 <a href="https://mrjackc.github.io">微学霸君-MrJason</a>）</strong>
            </p>
            {% else %}
            扫码关注有惊喜
             <img src="/assets/images/mrjason.jpg" >
             <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
                <strong>（本文转载自 <a href="https://www.ityouknow.com">纯洁的微笑-ityouknow</a>）</strong>
            </p>
            {% endif %}
         <br/>
          
   </p>  
</div>